    <!-- Footer >
    <footer>
        
        <div class="container text-center">
            <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
        </div>
    </footer-->

    <footer id="contact">
        <div class="container-fluid">
          <div class="col-xs-12 divider">
                          </div>
      
          <div class="col-xs-12">
            <div class="col-md-8 col-sm-12 left">
            <i class="fab fa-twitter iconLogo"></i>
            <a href="https://twitter.com/GIS4HEd" target="_blank">@GIS4HEd</a>
            <a href="https://twitter.com/EsriCanada_CE" target="_blank">@EsriCanada_CE</a>
            <a href="https://twitter.com/GISAmbassador" target="_blank">@GISAmbassador</a>
            </div>
            <div class="col-md-4 col-sm-12 right">
            <i class="fas fa-envelope iconLogo second"></i>
            <a href="mailto:highered@esri.ca" target="_blank">highered@esri.ca</a>
            </div>
          </div>
      
          <div class="col-xs-6">
            <span class="float-left">©&nbsp;20{{ site.time | date: '%y' }} {{ site.footer }}. All rights reserved.</span>
          </div>
           
          <div class="col-xs-6">
            <span class="float-right"><a href="https://hed.esri.ca/privacy">Privacy</a></span>
      
          </div>
          <div class="col-xs-12 divider">
        </div>
      
        </div>
      
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-wp-preserve="%3Cscript%20src%3D%22https%3A%2F%2Fajax.googleapis.com%2Fajax%2Flibs%2Fjquery%2F1.11.3%2Fjquery.min.js%22%3E%3C%2Fscript%3E" data-mce-resize="false" data-mce-placeholder="1" class="mce-object" width="20" height="20" alt="<script>" title="<script>">
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-wp-preserve="%3Cscript%20src%3D%22https%3A%2F%2Fmaxcdn.bootstrapcdn.com%2Fbootstrap%2F3.3.6%2Fjs%2Fbootstrap.min.js%22%20integrity%3D%22sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS%22%20crossorigin%3D%22anonymous%22%3E%3C%2Fscript%3E" data-mce-resize="false" data-mce-placeholder="1" class="mce-object" width="20" height="20" alt="<script>" title="<script>">
      
        </footer>
