 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container" style="padding-top: .5em; margin-top: 1em; padding-right:0; padding-left:15px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="https://hed.esri.ca">
                     <img src = "img/ER_EN.png" style="width: 350px; max-width: 100%; padding-right: 20px;"/>
                </a>
            </div>
            <div class="navbar-main-container">

                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <li class="menu-item"><a class="page-scroll" href="#collection">CGA Rules</a></li>
                        <li class="menu-item"><a class="page-scroll" href="#models">Models</a></li>
                        <li class="menu-item"><a class="page-scroll" href="#tutorials">Tutorials</a></li>
                        <li class="menu-item"><a class="page-scroll" href="#videos">Videos</a></li>
                        <li class="menu-item"><a class="page-scroll" href="#resources">Resources</a></li>
                        <li class="menu-item"><a class="page-scroll" href="#contact">Contact Us</a></li>
                        <li class="menu-item"><a class="page-scroll" href="#submit" style="font-weight:900;">SUBMIT RULE</a></li>
                    </ul>
                </div>        
           </div>
    </nav>